/*! CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*! General */
body{
  font-family: 'Open Sans', sans-serif;
  padding-top: 90px;
}

.large-container{
  width: 1300px;
  margin: 0 auto;
}

.small-container{
  width: 1000px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul{
  list-style-type: none;
}

.small-col{
  flex-basis: 30%;

  height: 500px;
  background-color: red;
}

.large-col{
  flex-basis: 70%;

  height: 500px;
  background-color: greenyellow;

}
.card{
  min-height: 300px;
  background-color: darkgoldenrod;
}

section{
  margin-top: 100px;
}

.title{
  margin-bottom: 70px;

  min-height: 50px;
  background-color: blueviolet;
}

/*! Buttons */
.button{
  padding: 5px 15px;
  background-color: #0061FF;
  color: white;
}

/*! Navbar Fixed */
.navbar-fixed{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 90px;
  background: #fff;
  padding: 0 10px;
}

.navbar-fixed ul{
  display: flex;
  align-items: center;
  height: 100%;
}


/** Navbar left */
.navbar-left{
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.navbar-left>nav{
  flex-grow: 1;
  height: 100%;
}

.navbar-fixed li{
  padding-left: 30px;
}

/** Navbar right */
.navbar-right{
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-right>nav{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
}

.navbar-right .log-in{
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

/*! Header */
header{
  background-color: #B4D0E7;
  height: 800px;
}

header .main-title{
  min-height: 200px;
  background-color: blue;
}

/** jumbotron */


/*! Main */
/** Tariffs */
.tariff .title{
  height: 50px;
  background-color: red;
  margin-bottom: 50px;
}

.tariff .choice{
  height: 30px;
  background-color: darkorange;
}

/*? Tariffs Cards  */
.tariff-card{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.tariff-card .card{
  width: 300px;
}

/** Contact */

/** Partner */
.partner .large-col{
  flex-basis: 60%;
}

.partner .small-col{
  flex-basis: 40%;
}

/** Description */
.description-row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.description-col{
  flex-basis: calc((100% - 40px) / 3);

  background-color: darkcyan;
  min-height: 300px;
}

/** Client */
.client .designit{
  display: flex;
}

.client .square-col{
  flex-basis: calc(100% / 3);

  min-height: 500px;
}

/*? Show Partner */
.partner-box{
  display: flex;
  flex-wrap: wrap;
}

.partner-box .show-partner{
  flex-basis: 50%;
  
  background-color: aqua;
}


/** Try For Free */
.bg-try-free{
  background-color: #B4D0E7;
  margin: 0;
}

.try-free{
  display: flex;
  align-items: center;
  justify-content: center;
}

/** FAQ */
.FAQ{
  min-height: 500px;
  background-color: red;
}

/*! Footer */
footer{
  margin-top: 100px;
  background-color: black;
  color: white;
}

/** Footer Top */
.footer-top{
  display: flex;
  gap: 50px;
}

.footer-top .foot-col{
  flex-basis: calc((100% - 100px) / 5);

  min-height: 300px;
  background-color: white;
}

/** Footer Bottom */
.footer-bottom{
  min-height: 200px;
  border: 1px dashed white;
}


/*!  utilities*/
.border{
  border: 1px dashed black;
}

.d-flex{
  display: flex;
}

.p-top-50{
  padding-top: 50px;
}

.m-top-50{
  margin-top: 50px;
}

.bg-white{
  background-color: #fff;
  color: black;
}