/*! CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Properties */
:root{
  --designit: #A2D39B;
  --asu: #61082B;
  --uf: #0093CE;
  --topps: #FF1C1C;
  --wbr: #D5001F;
  --hearst: #B4D0E7;
  --planet: #0D2481;
  --channel: #FFD830;
}

/*! General */
body{
  font-family: 'Open Sans', sans-serif;
  padding-top: 90px;
}

.large-container{
  width: 1300px;
  margin: 0 auto;
}

.small-container{
  width: 1000px;
  margin: 0 auto;
}

li a{
  text-decoration: none;
  color: currentColor;
}

ul{
  list-style-type: none;
}

.small-col{
  flex-basis: 30%;
}

.large-col{
  flex-basis: 70%;
}

.equal-col{
  flex-basis: 50%;
}

.card{
  border: 1px solid gray;
  font-size: 14px;
}

section{
  margin-top: 200px;
}

.title{
  margin-bottom: 50px;
  font-size: 38px;
}

/*! Buttons */
.button{
  padding: 10px 15px;
  background-color: #0061FF;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

/*? Funcions */
.button:active {
  background-color: #0061FF;
  border: 3px solid #999;
  padding: 3px 10px;
}

.button:hover{
  opacity: 0.7;
}
/*! Navbar Fixed */
.navbar-fixed{
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 90px;
  background: #fff;
  padding: 0 10px;
}

.main-nav>ul{
  display: flex;
  align-items: center;
  height: 100%;
}

.main-nav>ul>li{
  margin-left: 30px;
  line-height: 90px;
  height: 100%;
}

.navbar-fixed .main-nav{
  display: flex;
  height: 100%;
  align-items: center;
}

/** Banner */
.fixed-banner{
  background-color: #ededed;
  line-height: normal;
  font-size: 13px;
  padding: 15px 25px;

  display: flex;
  gap: 150px;

  position: fixed;
  top: 90px;

  display: none;
}

.fixed-banner li{
  margin-bottom: 15px;
}

/** Navbar left */
.navbar-left{
  display: flex;
  align-items: center;
}

#logo{
  height: 25px;
}

/** Navbar right */

.navbar-right .log-in{
  margin-left: 30px;
  display: flex;
  align-items: center;
}

/*? Functions */
.main-nav>ul>li:hover{
  border-bottom: 5px solid blue;
}

.main-nav>ul>li:hover>a{
  color: blue;
}

/*? Function on Banners */
.fixed-banner a:hover{
  text-decoration: underline;
}

.main-nav>ul>li:hover .fixed-banner{
  display: flex;
}
/* 
.navbar-fixed li:active{
  transform: translateY(2px);
} */

/*! Header */
header{
  background-color: #B4D0E7;
}

#main-title{
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 50px;
}

/** jumbotron */
/*? Small Col */
.jumbotron{
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}

.jumbotron .free-trial{
  display: inline-block;
  margin: 30px 0;
}

.jumbotron .arrow-down{
  text-decoration: none;
  color: currentColor;
}

/*? Funcions */
.jumbotron .arrow-down:hover{
  text-shadow: 0px 10px 7px black;
  transition: 500ms;
}

/*? Large Col */
.jumbotron img{
  width: 100%;
}

/*! Main */
/** Tariffs */
#tariff{
  padding-top: 100px;
}

.choice{
  font-size: 15px;
}

.year-choice{
  margin-left: 50px;
}

.choice-circle{
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 3px;
  cursor: pointer;
}

.choice-circle.select{
  border: 5px solid #0061FF;
}

/*? Tariffs Cards  */
.tariff-card{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.tariff-card .card{
  width: 300px;
}

/*? Top Card */
.card .top-card{
  padding: 10px 0;
  border-bottom: 1px solid gray;
  text-align: center;
}

/*? Main Card */
.card .main-card{
  padding: 30px 30px;
}

.main-card h3{
  margin-bottom: 20px;
  font-size: 25px;
}

.fa-ul {
  --fa-li-width: 0em;
  margin-left: 0;
}

.card li{
  padding-left: 20px;
  margin: 20px 0;
}

/** Partner */
/* ? Large col */
#partner .large-col{
  flex-basis: 60%;
}

.partner-img{
  max-width: 100%;
}

/* ? Small col */
#partner .small-col{
  flex-basis: 40%;
  padding: 50px 30px;
}

#partner h3{
  font-size: 1.5rem;
}

#partner p{
  margin: 20px 0;
  font-weight: 500;
  font-size: 17px;
}

#partner .button{
  display: inline-block;
  margin: 15px 0;
  border: 1px solid black;
}

/** Description */
.description-row{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.description-col{
  flex-basis: calc((100% - 80px) / 3);
}

.description-col img{
  max-width: 100%;
  display: block;
}

.description-col h3{
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.description-col p{
  font-weight: 500;
}

/** Client */
#client .title{
  width: 60%;
}

#client .layout-square{
  display: flex;
  margin-top: 150px;
}

#client .square-col{
  flex-basis: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}

/*? Functions */
.partner-logo:hover{
  border: 30px solid rgba(255, 255, 255, 0.5);
}

/*? Logo Partner */
.partner-logo{
  height: calc(100vw / 6);
  
  cursor: pointer;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo img{
  filter: invert(1);
  max-width: 50%;
}

/*? Background logo */
.bg-designit{
  background-color: var(--designit);
}

.bg-asu{
  background-color: var(--asu);
}

.bg-uf{
  background-color: var(--uf);
}

.bg-topps{
  background-color: var(--topps);
}

.bg-wbr{
  background-color: var(--wbr);
}

.bg-hearst{
  background-color: var(--hearst);
}

.bg-planet{
  background-color: var(--planet);
}

.bg-channel{
  background-color: var(--channel);
}

/*? Middle Square */
#client .square-col.middle{
  flex-direction: column;
  padding: 40px;
  background-color: #F5F5F5;
}

.middle .designit-logo{
  max-width: 50%;
}


/** Try For Free */
#bg-try-free{
  background-color: #B4D0E7;
  margin: 0;
}

.try-free{
  display: flex;
  align-items: baseline;

  padding: 100px 0;
}

.try-free .title{
  color: #61082B;
  width: 70%;
}

/** FAQ */
.FAQ{
  border-bottom: 1px solid gray;
  font-size: 0.9rem;
  padding: 40px 0;
}

.FAQ-quest{
  position: relative;
}

.FAQ-answer{
  padding-top: 30px;
  display: none;
}


.FAQ:first-of-type{
  border-top: 1px solid gray;
}

.FAQ span{
  position: absolute;
  top: 0;
  right: 30px;
}

.FAQ .fa-chevron-up{
  display: none;
}

/*? Funcions */
.FAQ:hover .FAQ-answer{
  display: block;
}

.FAQ:hover .fa-chevron-down{
  display: none;
}

.FAQ:hover .fa-chevron-up{
  display: block;
}


/*! Chat */
.chat{
  position: fixed;
  bottom: 10px;
  right: 20px;

  background-color: white;
  border: 1px solid black;

  width: 300px;
  
}

/** Header Chat */
.chat .header-chat{
  background-color: #0D2481;
  color: white;
  padding: 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-chat .title-chat{
  flex-grow: 1;
  text-align: center;
}

.control-chat{
  cursor: pointer;
}

/** Main Chat */
.main-chat{
  display: none;
  height: 400px;
}
/*? Message */
.message{
  display: flex;
  padding: 20px 10px;
}

.message-profile img{
  height: 35px;
  display: block;
}

.message-profile .name-chat{
  font-size: 12px;
}

.message-body{
  font-size: 14px;

  align-self: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;
}

/*? Text message */
.text-message{
  padding: 0 10px;
  position: absolute;
  bottom: 50px;
  border-top: 1px solid gray;  

  display: flex;
}

#text-message{
  width: 100%;
  border: none;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
}

#send-message{
  color: dodgerblue;
}

/*? Footer message */
.footer-message{
  font-size: 10px;
  text-align: center;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-message img{
  height: 30px;
  display: block;
}

/** Funcions */
@keyframes uppear-chat {
  from {bottom: -380px;}
  to {bottom: 10px;}
}

.chat:hover{
  animation: uppear-chat 2s 1;
}

.chat:hover .main-chat{
  display: block;
}


/*! Footer */
footer{
  margin-top: 150px;
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

/** Footer Top */
.footer-top{
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}

.footer-top .foot-col{
  flex-basis: calc((100% - 200px) / 5);
}

.foot-col h5{
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.foot-col li{
  margin-bottom: 15px;
}

/** Footer Bottom */
.select-lenguage>span{
  margin: 0 5px;
  font-weight: 100;
}

/*? Funcions */
.foot-col li:hover{
  text-decoration: underline;
}

.foot-col li:active{
  color: blueviolet;
}


/*!  utilities*/
.d-flex{
  display: flex;
}

.p-top-m{
  padding-top: 50px;
}

.m-top-sm{
  margin-top: 25px;
}

.m-top-m{
  margin-top: 50px;
}

.m-sm{
  margin: 25px 0;
}
 
.m-m{
  margin: 50px 0;
}

.m-bottom-xs{
  margin-bottom: 10px;
}

.m-bottom-m{
  margin-bottom: 50px;
}

.m-bottom-lg{
  margin-bottom: 85px;
}

.button.bg-white{
  background-color: #fff;
  color: black;
}

.separator-10{
  border-top: 1px solid lightgray;
  width: 10%;
  margin: 40px 0;
}

.separator-20{
  border-top: 1px solid lightgray;
  width: 20%;
  margin: 40px 0;
}

.f-size-09{
  font-size: 0.9rem;
}